:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gold: #B29F7E;
    --color-error-red: rgb(215, 70, 70);
    --color-disabled-gray: #ccd7dc;

    --bg-color-header: #172234;
    --bg-color-input: #E0E0E0;
    

    --font-family-main: "Merriweather", sans-serif;
    --font-family-secondary: "Lato", sans-serif;
    

   
    --font-weight-label: 700;
    --font-weight-title: 600;
    --font-weight-subtitle: 500;
    --font-weight-text: 400;

    --font-size-title-h1: 42px;
    --font-size-title-h2: 28px;
    --font-size-title-h3: 22px;
    --font-size-title-h4: 20px;
    --font-size-title-h5: 16px;
    --font-size-subtitle: 16px;
    --font-size-main-text: 14px;
    --font-size-secondary-text: 12px;
}
